In [1]:
import csv
import requests
import pandas as pd


url = "https://www.euromonitor.com/china/country-factfile"

In [2]:
tables = pd.read_html(url)
tables

[            Area
 0  9,597,000 km2,                    Currency
 0  Renminbi (RMD = 100 fen),    Capital
 0  Beijing,                  Head of State
 0  President Xi Jinping (2012),                                           Unnamed: 0       2013        2014  \
 0                                  GDP (USD million)  9570302.2  10439965.5
 1                         Real GDP Growth (% growth)        7.8         7.3
 2                               Inflation (% growth)        2.6         1.9
 3  Unemployment Rate (% of economically active po...        2.9         3.0
 4     Exchange Rates Against US Dollar (CNY per USD)        6.2         6.1

          2015        2016        2017        2018
 0  11015504.9  11138042.2  12143201.1  13608151.9
 1         6.9         6.7         6.9         6.6
 2         1.4         2.0         1.6         2.1
 3         3.3         3.6         3.7         3.8
 4         6.2         6.6         6.8         6.6  ,                            Unnamed: 0       2013       2014       2015  \
 0             Total Population ('000)  1354040.0  1360720.0  1367820.0
 1    Median Age of Population (years)       37.1       37.4       37.6
 2         Number of Households ('000)   438932.8   445821.0   452778.1
 3  Consumer Expenditure (USD million)  3562699.2  3943565.5  4256794.1
 4               Internet Users ('000)   584026.3   612755.9   645814.2

         2016       2017       2018
 0  1374620.0  1382710.0  1390080.0
 1       37.8       38.0       38.2
 2   459551.8   466786.8   473844.2
 3  4408443.4  4697194.9  5313865.1
 4   684987.1   702685.6   756755.4  ]

In [4]:
df = tables[4]
df.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True)
df

,Economies,2013,2014,2015,2016,2017,2018
0,GDP (USD million),9570302.2,10439965.5,11015504.9,11138042.2,12143201.1,13608151.9
1,Real GDP Growth (% growth),7.8,7.3,6.9,6.7,6.9,6.6
2,Inflation (% growth),2.6,1.9,1.4,2.0,1.6,2.1
3,Unemployment Rate (% of economically active po...,2.9,3.0,3.3,3.6,3.7,3.8
4,Exchange Rates Against US Dollar (CNY per USD),6.2,6.1,6.2,6.6,6.8,6.6

In [6]:
df2 = tables[5]
df2.rename(columns = {'Unnamed: 0':'Consumer'}, inplace = True)
df2

,Consumer,2013,2014,2015,2016,2017,2018
0,Total Population ('000),1354040.0,1360720.0,1367820.0,1374620.0,1382710.0,1390080.0
1,Median Age of Population (years),37.1,37.4,37.6,37.8,38.0,38.2
2,Number of Households ('000),438932.8,445821.0,452778.1,459551.8,466786.8,473844.2
3,Consumer Expenditure (USD million),3562699.2,3943565.5,4256794.1,4408443.4,4697194.9,5313865.1
4,Internet Users ('000),584026.3,612755.9,645814.2,684987.1,702685.6,756755.4

In [8]:
convertcsv = df.to_csv (r'data/china_Economies.csv', index = None, header=True)